services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: valorant
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  web:
    build: .
    depends_on:
      - db
      - redis
    ports:
      - "3000:3000"
      - "5555:5555"
    environment:
      NODE_ENV: development
      DATABASE_URL: postgresql://postgres:postgres@db:5432/valorant?schema=public
      REDIS_URL: redis://redis:6379
      HENRIKDEV_API_KEY: ${HENRIKDEV_API_KEY}
      NEXT_PUBLIC_BASE_URL: http://localhost:3000
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  pgdata:
  redisdata:
